.total-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    width: 523px;
    height: 260px;
}

.bar-animate {
    animation: growBar 1s ease-out forwards;
}

/*막대 애니메이션 추가*/
@keyframes growBar {
    from {
        width: 0;
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}

.bar {
    position: absolute;
    height: 37px;
    left: 0;
    z-index: 2;
    opacity: 0.3;
    animation: growBar 1s ease-out forwards;
}

.bar-main {
    background-color: #52B788;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 20px;
}

.bar-sub {
    background-color: #D9D9D9;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-size: 18px;
    text-align: start;
    font-family: 'Pretendard-Bold', sans-serif;
    color: #205c20;
    margin : 18px 0 0 20px;
}

.arrow-icon {
    color : #AAAAAA;
    margin-right: 20px;
}

.card-content {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 30px;
}

.chart-grid{
    position: relative;
    width: 340px;
    height: 200px;
    font-size: 12px;
    color: #A9C0B4;
    font-weight: 500;
}

.grid-x {
    display: flex;
    gap: 52px;
    font-size: 14px;
    margin-bottom: 5px;
}

.grid-box {
    width: 273px;
    height: 162px;
    position: relative;
    border-left: 3px solid #B0C4B7;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.line-horizontal {
    border-bottom: 2px dashed #B0C4B7;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: 1;
}


.line-vertical {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    border-left: 1px solid  #B0C4B7;
    z-index: 1;
}

.score-display {
    display: flex;
    align-items: baseline;
    gap: 4px;
    font-weight: bold;
    margin-right: 30px;
}

.main-score {
    font-size: 64px;
    color: #52B788;
}

.sub-score {
    font-size: 32px;
    color: #ABABAB;
}

