.total-page {
  display: flex;
  flex-direction: column;
  padding: 0px 60px 69px 60px;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  transform: scale(0.85);
  transform-origin: top left;
  width: 1920px;
  height: 1080px;
}

.total-title{
    font-size: 32px;
    margin-left: 20px;
    margin-top: 40px;
    text-align: start;
    font-family: 'Pretendard-Semibold', sans-serif;
}

.total-page-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3ì—´ */
    gap: 30px;
    margin-top: 30px;
}

.legend-wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
    margin : 20px 0 0 0px;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 20px;
}

.dot.my {
    background-color: #52B788;
}

.dot.peer {
    background-color: #D9D9D9;
}

.label {
    text-align: center;
    font-size: 16px;
    padding: 0 0 0 7px;
}

.my-label {
    color: #52B788;
}

.peer-label {
    color: #ABABAB;
}