.statpage-container {
  display: flex;
  padding:  0px 45px 69px 60px;
  gap: 40px;;
}

.section-header {
  padding: 30px 0px 34px 45px;
}

.left-section {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.section-title {
  text-align: left;
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 25px;
  margin-left: 15px;
}

.tabs {
  display: flex;
  gap: 20px;
  margin-left: 15px;
}

.tab {
  font-size: 24px;
  color: #959595;
  cursor: pointer;
  
}

.tab.active {
  color: #2EB865;
  border-bottom: 2px solid #2EB865;
}

.graph-block {
  background-color: white;
  padding: 0px 28px 54px 20px;
  border-radius: 12px;
  box-sizing: border-box;
  width: 100%;
}

.graph-title {
  text-align: left;
  font-size: 26px;
  margin-left: 15px;
  margin-bottom: 109px;
}

.score-summary {
  width: 504px;

}
