body{
    background-color: #EFF4EA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
      width: 510px;
      margin: 10px auto;
      text-align: center;
      font-size: 15px;
      padding: 50px 20px;
      padding-bottom: 128px;
      border-radius: 12px;
      background-color: #fff;
  
    }
    
    .title {
      font-size:48px;
      font-weight: bold;
      margin-bottom: 35px;
      color: #2EB865;
    }
    
    .input-field-email {
      width: 62%;
      padding: 13px;
      padding-left: 20px;
      border: 1px solid #959595;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  
    .input-field-passwd {
      width: 62%;
      padding: 13px;
      padding-left: 20px;
      border: 1px solid #959595;
      border-top: none;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    
    .save-login{
      color: #959595;
      text-align:left;
      margin-top: 17px;
      margin-bottom: 18px;
      margin-left: 81px;
    }
  
    .login-btn {
      width: 352px;
      padding: 10px;
      background-color: #2EB865;
      color: white;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-bottom: 17px;
    }
    .login-btn:hover {
      background-color: #2b9957;
    }
  
    .ask-signup{
      color: #959595;
    }
    .signup-link{
      color: #2EB865;
      font-weight: bold;
    }
    