.total-card {
    background-color: white;
    border-radius: 12px;
    padding: 16px 20px;
    width: 260px;
    height: 140px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-header {
    align-items: flex-start;
}

.title{
    text-align: left;
    color: #104315;
    font-weight: 600;
    font-size: 16px;
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.score-display {
    display: flex;
    align-items: baseline;
}

.main-score {
    font-size: 32px;
    font-weight: 700;
    color: #3B9155;
    margin-right: 4px;
}

.sub-score {
    font-size: 16px;
    color: #999999;
}
