.score-summary-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 168px;
  padding-bottom: 69px;
}

.score-card {
  width: 504px;
  height: 260px;
  background: #ffffff;
  border-radius: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 68px 44px;
  box-sizing: border-box;
  position: relative;
}

.score-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}

.label-title {
  font-family: 'Pretendard';
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: #3A3A3A;
  line-height: 1.6;
}

.label-subtitle {
  font-family: 'Pretendard';
  font-size: 20px;
  font-weight: 400;
  color: #7B7B7B;
  line-height: 1.5;
}

.label-sub {
  display: flex;
  align-items: center;
  gap: 5px;
}

.label-number {
  font-family: 'Pretendard';
  font-weight: 500;
  font-size: 30px;
  color: #3A3A3A;
}

.label-unit {
  font-family: 'Pretendard';
  font-weight: 500;
  font-size: 24px;
  color: #3A3A3A;
}

.score-value {
  font-family: 'Pretendard';
  font-weight: 600;
  font-size: 80px;
  line-height: 1;
  color: #2EB865;
  display: flex;
  align-items: center;
}

.unit {
  font-size: 24px;
  margin-left: 4px;
}

.score-divider {
  position: absolute;
  left: 252px; /* 가운데 1px 선 기준 */
  top: 44px;
  bottom: 44px;
  width: 1px;
  background-color: #A0DEA0;
}
