.total-title{
    font-size: 32px;
    margin-left: 50px;
    margin-top: 30px;
    text-align: start;
    font-family: 'Pretendard-Semibold', sans-serif;
}

.total-page-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3ì—´ */
    gap: 20px;
    margin-left: 44px;
    margin-top: 20px;
}

.legend-wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
    margin : 12px 0 0 30px;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 20px;
}

.dot.my {
    background-color: #52B788;
}

.dot.peer {
    background-color: #D9D9D9;
}

.label {
    text-align: center;
    font-size: 16px;
    padding: 0 0 0 7px;
}

.my-label {
    color: #52B788;
}

.peer-label {
    color: #ABABAB;
}