.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #EFF4EA;
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
  border-radius: 16px;
  overflow: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  flex-grow: 1;
}

.others {
  flex-grow: 1;
  background-color: #EFF4EA;
  overflow-y: auto;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
}


html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #EFF4EA;
  font-family: 'Pretendard', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
