body {
  margin: 0;
  font-family: "Pretendard-Regular", "Pretendard-Medium", "Pretendard-Bold",  "Pretendard-Light","Pretendard-SemiBold",  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face{
  font-family: "Pretendard-Bold";
  src: url("components/fonts/Pretendard-Bold.ttf") format("truetype");
}
@font-face{
  font-family: "Pretendard-Black";
  src: url("components/fonts/Pretendard-Black.ttf") format("truetype");
}
@font-face{
  font-family: "Pretendard-ExtraBold";
  src: url("components/fonts/Pretendard-ExtraBold.ttf") format("truetype");
}
@font-face{
  font-family: "Pretendard-ExtraLight";
  src: url("components/fonts/Pretendard-ExtraLight.ttf") format("truetype");
}
@font-face{
  font-family: "Pretendard-Light";
  src: url("components/fonts/Pretendard-Light.ttf") format("truetype");
}
@font-face{
  font-family: "Pretendard-Medium";
  src: url("components/fonts/Pretendard-Medium.ttf") format("truetype");
}
@font-face{
  font-family: "Pretendard-Regular";
  src: url("components/fonts/Pretendard-Regular.ttf") format("truetype");
}
@font-face{
  font-family: "Pretendard-SemiBold";
  src: url("components/fonts/Pretendard-SemiBold.ttf") format("truetype");
}
@font-face{
  font-family: "Pretendard-Thin";
  src: url("components/fonts/Pretendard-Thin.ttf") format("truetype");
}